<ng-container *ngIf="data">

<mat-card class="example-card">
    <mat-card-header [routerLink]="['/pokemon',data.id]">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title [routerLink]="['/pokemon',data.id]"> {{data.name | titlecase}} </mat-card-title>
      <mat-card-subtitle>{{data.base_experience}} xp</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{data.sprites.front_default}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Pokeyman
      </p>
    </mat-card-content>
    <mat-card-actions>
      <app-pokemon-favorite [pokemonData]="data"></app-pokemon-favorite>
    </mat-card-actions>
  </mat-card>
</ng-container>
  